.geracoes {
    background-color: #0d0d0d;
    color: #f5f5f5;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
    padding: 30px 50px;
    margin: 0 auto;
    max-width: 1200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.geracoes__conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.geracoes__titulo {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #E60012;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #f5f5f5;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}