.geracoes {
    background-color: #0d0d0d;
    color: #f5f5f5;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
    padding: 30px 50px;
    margin: 0 auto;
    max-width: 1200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.geracoes__conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.geracoes__titulo {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #E60012;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #f5f5f5;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.geracoes img {
    width: 450px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.geracoes__titulo h1 {
    font-size: 1em;
    margin: 0;
}

@media (max-width: 992px) {
    .geracoes {
        gap: 30px;
        padding: 30px 30px;
    }

    .geracoes img {
        width: 320px;
    }
}

@media (max-width: 768px) {
    .geracoes {
        flex-direction: column;
        text-align: center;
        padding: 30px 20px;
        gap: 20px;
    }

    .geracoes__conteudo {
        align-items: center;
        text-align: center;
    }

    .geracoes__titulo,
    .geracoes__titulo h1,
    p {
        text-align: center;
    }

    .geracoes img {
        width: 100%;
        max-width: 320px;
    }
}

@media (max-width: 480px) {
    .geracoes__titulo {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}
